<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  {{!-- Mobile Meta --}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- Brand icon --}}
  <link rel="icon" href="{{asset "static/images/icon.png"}}">
  {{!-- Styles"n"Scripts --}}
  <link href="{{asset "static/ryan.min.css"}}" rel="stylesheet">
  <script src="{{asset "static/js/jquery.min.js"}}"></script>
  <script src="{{asset "static/js/ryan.min.js"}}"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
{{ghost_foot}}
<body class="ui-font">
  <div class="container">
      {{{body}}}
    </div>
</body>
