<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  {{!-- Mobile Meta --}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- Brand icon --}}
  {{!-- <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}"> --}}
  {{!-- Styles"n"Scripts --}}
  <link href="{{asset "static/ryan.css"}}" rel="stylesheet">
  <script src="{{asset "static/js/jquery.min.js"}}"></script>
  <script src="{{asset "static/js/ryan.js"}}"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
</head>
<body class="ui-font">
  <div class="container">
    <div id="sidebar" class="with-animation">
      <div class="sidebar-container card">
        <ul class="sidebar-profile">
          <img src="{{asset "static/img/icon.png"}}" class="sidebar-profile-image"></img>
          <span class="sidebar-profile-title">Ryan Liang</span>
        </ul>
        <div class="sidebar-separator"></div>
        <ul class="sidebar-btns nodot">
          <li class="sidebar-btn">
            <a class="sidebar-btn-link" href='/'>
              <i class="fa fa-home sidebar-btn-link-icon"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="sidebar-btn">
            <a class="sidebar-btn-link" href="/about">
              <i class="fa fa-info sidebar-btn-link-icon" style="margin-left: 5px; margin-right: 15px;"></i>
              <span>About</span></a>
            </li>
          </ul>
        </div>

      </div>
      {{{body}}}
    </div>



  </body>
