{{!< default}}
{{> sidebar}}
{{#post}}
<div id="post-wrapper">
  <div class="post-container">
    {{#has tag="chinese"}}
    <article class="{{post_class}}" lang="cn">
    {{else}}
    <article class="{{post_class}}">
    {{/has}}
      <header>
        <h1 class="post-title title-font">{{title}}</h1>
        <h5 class="post-date">
          <time datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}
          </time>
        </h5>
      </he5der>
      <div class="separator"></div>
      <section class="post-content content-font">
        {{content}}
      </section>
      <div class="separator"></div>
    </article>
  </div>
</div>

{{/post}}
